doctype html
html
    head
        meta(charset="utf-8")
        title #{userTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/") User
                    li.main-header__item
                        a(href="/admin/add-user") Add User
        main
            
            if users.length > 0
                .grid
                    each user in users
                        article.card.product-item
                            header.card_header
                                h1.product_title #{user.name}
                            div.card_image
                                img(src="https://cdn-icons-png.flaticon.com/512/9131/9131531.png", alt="user image")
                            div.card_content
                                h2.product_price $19.99
                                p.product_description User description goes here.
                            .card_actions
                                button.btn Add to Cart
            else
                h1 No Products